/*
 * LaraClassified - Geo Classified Ads CMS
 * Copyright (c) Mayeul Akpovi. All Rights Reserved
 *
 * Email: mayeul.a@larapen.com
 * Website: http://larapen.com
 *
 * LICENSE
 * -------
 * This software is furnished under a license and may be used and copied
 * only in accordance with the terms of such license and with the inclusion
 * of the above copyright notice. If you Purchased from Codecanyon,
 * Please read the full License from here - http://codecanyon.net/licenses/standard
 */
@charset "utf-8";

.flag-16 {
	width: 16px;
	height: 16px;
	background:url(flags-16.png) no-repeat
}

.flag-32 {
	width: 32px;
	height: 32px;
	background:url(flags-32.png) no-repeat
}

/* Flags - Size : 16x16 */
.flag-16.flag-ad {background-position: -16px 0}
.flag-16.flag-ae {background-position: -32px 0}
.flag-16.flag-af {background-position: -48px 0}
.flag-16.flag-ag {background-position: -64px 0}
.flag-16.flag-ai {background-position: -80px 0}
.flag-16.flag-al {background-position: -96px 0}
.flag-16.flag-am {background-position: -112px 0}
.flag-16.flag-an {background-position: -128px 0}
.flag-16.flag-ao {background-position: -144px 0}
.flag-16.flag-ar {background-position: -160px 0}
.flag-16.flag-as {background-position: -176px 0}
.flag-16.flag-at {background-position: -192px 0}
.flag-16.flag-au {background-position: -208px 0}
.flag-16.flag-aw {background-position: -224px 0}
.flag-16.flag-az {background-position: 0 -16px}
.flag-16.flag-ba {background-position: -16px -16px}
.flag-16.flag-bb {background-position: -32px -16px}
.flag-16.flag-bd {background-position: -48px -16px}
.flag-16.flag-be {background-position: -64px -16px}
.flag-16.flag-bf {background-position: -80px -16px}
.flag-16.flag-bg {background-position: -96px -16px}
.flag-16.flag-bh {background-position: -112px -16px}
.flag-16.flag-bi {background-position: -128px -16px}
.flag-16.flag-bj {background-position: -144px -16px}
.flag-16.flag-bm {background-position: -160px -16px}
.flag-16.flag-bn {background-position: -176px -16px}
.flag-16.flag-bo {background-position: -192px -16px}
.flag-16.flag-br {background-position: -208px -16px}
.flag-16.flag-bs {background-position: -224px -16px}
.flag-16.flag-bt {background-position: 0 -32px}
.flag-16.flag-bw {background-position: -16px -32px}
.flag-16.flag-by {background-position: -32px -32px}
.flag-16.flag-bz {background-position: -48px -32px}
.flag-16.flag-ca {background-position: -64px -32px}
.flag-16.flag-cd {background-position: -80px -32px}
.flag-16.flag-cf {background-position: -96px -32px}
.flag-16.flag-cg {background-position: -112px -32px}
.flag-16.flag-ch {background-position: -128px -32px}
.flag-16.flag-ci {background-position: -144px -32px}
.flag-16.flag-ck {background-position: -160px -32px}
.flag-16.flag-cl {background-position: -176px -32px}
.flag-16.flag-cm {background-position: -192px -32px}
.flag-16.flag-cn {background-position: -208px -32px}
.flag-16.flag-co {background-position: -224px -32px}
.flag-16.flag-cr {background-position: 0 -48px}
.flag-16.flag-cu {background-position: -16px -48px}
.flag-16.flag-cv {background-position: -32px -48px}
.flag-16.flag-cy {background-position: -48px -48px}
.flag-16.flag-cz {background-position: -64px -48px}
.flag-16.flag-de {background-position: -80px -48px}
.flag-16.flag-dj {background-position: -96px -48px}
.flag-16.flag-dk {background-position: -112px -48px}
.flag-16.flag-dm {background-position: -128px -48px}
.flag-16.flag-do {background-position: -144px -48px}
.flag-16.flag-dz {background-position: -160px -48px}
.flag-16.flag-ec {background-position: -176px -48px}
.flag-16.flag-ee {background-position: -192px -48px}
.flag-16.flag-eg {background-position: -208px -48px}
.flag-16.flag-eh {background-position: -224px -48px}
.flag-16.flag-er {background-position: 0 -64px}
.flag-16.flag-es {background-position: -16px -64px}
.flag-16.flag-et {background-position: -32px -64px}
.flag-16.flag-fi {background-position: -48px -64px}
.flag-16.flag-fj {background-position: -64px -64px}
.flag-16.flag-fm {background-position: -80px -64px}
.flag-16.flag-fo {background-position: -96px -64px}
.flag-16.flag-fr {background-position: -112px -64px}
.flag-16.flag-ga {background-position: -128px -64px}
.flag-16.flag-gb {background-position: -144px -64px}
.flag-16.flag-gd {background-position: -160px -64px}
.flag-16.flag-ge {background-position: -176px -64px}
.flag-16.flag-gg {background-position: -192px -64px}
.flag-16.flag-gh {background-position: -208px -64px}
.flag-16.flag-gi {background-position: -224px -64px}
.flag-16.flag-gl {background-position: 0 -80px}
.flag-16.flag-gm {background-position: -16px -80px}
.flag-16.flag-gn {background-position: -32px -80px}
.flag-16.flag-gp {background-position: -48px -80px}
.flag-16.flag-gq {background-position: -64px -80px}
.flag-16.flag-gr {background-position: -80px -80px}
.flag-16.flag-gt {background-position: -96px -80px}
.flag-16.flag-gu {background-position: -112px -80px}
.flag-16.flag-gw {background-position: -128px -80px}
.flag-16.flag-gy {background-position: -144px -80px}
.flag-16.flag-hk {background-position: -160px -80px}
.flag-16.flag-hn {background-position: -176px -80px}
.flag-16.flag-hr {background-position: -192px -80px}
.flag-16.flag-ht {background-position: -208px -80px}
.flag-16.flag-hu {background-position: -224px -80px}
.flag-16.flag-id {background-position: 0 -96px}
.flag-16.flag-ie {background-position: -16px -96px}
.flag-16.flag-il {background-position: -32px -96px}
.flag-16.flag-im {background-position: -48px -96px}
.flag-16.flag-in {background-position: -64px -96px}
.flag-16.flag-iq {background-position: -80px -96px}
.flag-16.flag-ir {background-position: -96px -96px}
.flag-16.flag-is {background-position: -112px -96px}
.flag-16.flag-it {background-position: -128px -96px}
.flag-16.flag-je {background-position: -144px -96px}
.flag-16.flag-jm {background-position: -160px -96px}
.flag-16.flag-jo {background-position: -176px -96px}
.flag-16.flag-jp {background-position: -192px -96px}
.flag-16.flag-ke {background-position: -208px -96px}
.flag-16.flag-kg {background-position: -224px -96px}
.flag-16.flag-kh {background-position: 0 -112px}
.flag-16.flag-ki {background-position: -16px -112px}
.flag-16.flag-km {background-position: -32px -112px}
.flag-16.flag-kn {background-position: -48px -112px}
.flag-16.flag-kp {background-position: -64px -112px}
.flag-16.flag-kr {background-position: -80px -112px}
.flag-16.flag-kw {background-position: -96px -112px}
.flag-16.flag-ky {background-position: -112px -112px}
.flag-16.flag-kz {background-position: -128px -112px}
.flag-16.flag-la {background-position: -144px -112px}
.flag-16.flag-lb {background-position: -160px -112px}
.flag-16.flag-lc {background-position: -176px -112px}
.flag-16.flag-li {background-position: -192px -112px}
.flag-16.flag-lk {background-position: -208px -112px}
.flag-16.flag-lr {background-position: -224px -112px}
.flag-16.flag-ls {background-position: 0 -128px}
.flag-16.flag-lt {background-position: -16px -128px}
.flag-16.flag-lu {background-position: -32px -128px}
.flag-16.flag-lv {background-position: -48px -128px}
.flag-16.flag-ly {background-position: -64px -128px}
.flag-16.flag-ma {background-position: -80px -128px}
.flag-16.flag-mc {background-position: -96px -128px}
.flag-16.flag-md {background-position: -112px -128px}
.flag-16.flag-me {background-position: -128px -128px}
.flag-16.flag-mg {background-position: -144px -128px}
.flag-16.flag-mh {background-position: -160px -128px}
.flag-16.flag-mk {background-position: -176px -128px}
.flag-16.flag-ml {background-position: -192px -128px}
.flag-16.flag-mm {background-position: -208px -128px}
.flag-16.flag-mn {background-position: -224px -128px}
.flag-16.flag-mo {background-position: 0 -144px}
.flag-16.flag-mq {background-position: -16px -144px}
.flag-16.flag-mr {background-position: -32px -144px}
.flag-16.flag-ms {background-position: -48px -144px}
.flag-16.flag-mt {background-position: -64px -144px}
.flag-16.flag-mu {background-position: -80px -144px}
.flag-16.flag-mv {background-position: -96px -144px}
.flag-16.flag-mw {background-position: -112px -144px}
.flag-16.flag-mx {background-position: -128px -144px}
.flag-16.flag-my {background-position: -144px -144px}
.flag-16.flag-mz {background-position: -160px -144px}
.flag-16.flag-na {background-position: -176px -144px}
.flag-16.flag-nc {background-position: -192px -144px}
.flag-16.flag-ne {background-position: -208px -144px}
.flag-16.flag-ng {background-position: -224px -144px}
.flag-16.flag-ni {background-position: 0 -160px}
.flag-16.flag-nl {background-position: -16px -160px}
.flag-16.flag-no {background-position: -32px -160px}
.flag-16.flag-np {background-position: -48px -160px}
.flag-16.flag-nr {background-position: -64px -160px}
.flag-16.flag-nz {background-position: -80px -160px}
.flag-16.flag-om {background-position: -96px -160px}
.flag-16.flag-pa {background-position: -112px -160px}
.flag-16.flag-pe {background-position: -128px -160px}
.flag-16.flag-pf {background-position: -144px -160px}
.flag-16.flag-pg {background-position: -160px -160px}
.flag-16.flag-ph {background-position: -176px -160px}
.flag-16.flag-pk {background-position: -192px -160px}
.flag-16.flag-pl {background-position: -208px -160px}
.flag-16.flag-pr {background-position: -224px -160px}
.flag-16.flag-ps {background-position: 0 -176px}
.flag-16.flag-pt {background-position: -16px -176px}
.flag-16.flag-pw {background-position: -32px -176px}
.flag-16.flag-py {background-position: -48px -176px}
.flag-16.flag-qa {background-position: -64px -176px}
.flag-16.flag-re {background-position: -80px -176px}
.flag-16.flag-ro {background-position: -96px -176px}
.flag-16.flag-rs {background-position: -112px -176px}
.flag-16.flag-ru {background-position: -128px -176px}
.flag-16.flag-rw {background-position: -144px -176px}
.flag-16.flag-sa {background-position: -160px -176px}
.flag-16.flag-sb {background-position: -176px -176px}
.flag-16.flag-sc {background-position: -192px -176px}
.flag-16.flag-sd {background-position: -208px -176px}
.flag-16.flag-se {background-position: -224px -176px}
.flag-16.flag-sg {background-position: 0 -192px}
.flag-16.flag-si {background-position: -16px -192px}
.flag-16.flag-sk {background-position: -32px -192px}
.flag-16.flag-sl {background-position: -48px -192px}
.flag-16.flag-sm {background-position: -64px -192px}
.flag-16.flag-sn {background-position: -80px -192px}
.flag-16.flag-so {background-position: -96px -192px}
.flag-16.flag-sr {background-position: -112px -192px}
.flag-16.flag-st {background-position: -128px -192px}
.flag-16.flag-sv {background-position: -144px -192px}
.flag-16.flag-sy {background-position: -160px -192px}
.flag-16.flag-sz {background-position: -176px -192px}
.flag-16.flag-tc {background-position: -192px -192px}
.flag-16.flag-td {background-position: -208px -192px}
.flag-16.flag-tg {background-position: -224px -192px}
.flag-16.flag-th {background-position: 0 -208px}
.flag-16.flag-tj {background-position: -16px -208px}
.flag-16.flag-tl {background-position: -32px -208px}
.flag-16.flag-tm {background-position: -48px -208px}
.flag-16.flag-tn {background-position: -64px -208px}
.flag-16.flag-to {background-position: -80px -208px}
.flag-16.flag-tr {background-position: -96px -208px}
.flag-16.flag-tt {background-position: -112px -208px}
.flag-16.flag-tv {background-position: -128px -208px}
.flag-16.flag-tw {background-position: -144px -208px}
.flag-16.flag-tz {background-position: -160px -208px}
.flag-16.flag-ua {background-position: -176px -208px}
.flag-16.flag-ug {background-position: -192px -208px}
.flag-16.flag-us {background-position: -208px -208px}
.flag-16.flag-uy {background-position: -224px -208px}
.flag-16.flag-uz {background-position: 0 -224px}
.flag-16.flag-va {background-position: -16px -224px}
.flag-16.flag-vc {background-position: -32px -224px}
.flag-16.flag-ve {background-position: -48px -224px}
.flag-16.flag-vg {background-position: -64px -224px}
.flag-16.flag-vi {background-position: -80px -224px}
.flag-16.flag-vn {background-position: -96px -224px}
.flag-16.flag-vu {background-position: -112px -224px}
.flag-16.flag-ws {background-position: -128px -224px}
.flag-16.flag-ye {background-position: -144px -224px}
.flag-16.flag-za {background-position: -160px -224px}
.flag-16.flag-zm {background-position: -176px -224px}
.flag-16.flag-zw {background-position: -192px -224px}

.flag-16.flag-sh {background-position: -144px -64px}
.flag-16.flag-yt {background-position: -112px -64px}



/* Flags - Size : 32x32 */
.flag-32.flag-ad {background-position: -32px 0}
.flag-32.flag-ae {background-position: -64px 0}
.flag-32.flag-af {background-position: -96px 0}
.flag-32.flag-ag {background-position: -128px 0}
.flag-32.flag-ai {background-position: -160px 0}
.flag-32.flag-al {background-position: -192px 0}
.flag-32.flag-am {background-position: -224px 0}
.flag-32.flag-an {background-position: -256px 0}
.flag-32.flag-ao {background-position: -288px 0}
.flag-32.flag-ar {background-position: -320px 0}
.flag-32.flag-as {background-position: -352px 0}
.flag-32.flag-at {background-position: -384px 0}
.flag-32.flag-au {background-position: -416px 0}
.flag-32.flag-aw {background-position: -448px 0}
.flag-32.flag-az {background-position: 0 -32px}
.flag-32.flag-ba {background-position: -32px -32px}
.flag-32.flag-bb {background-position: -64px -32px}
.flag-32.flag-bd {background-position: -96px -32px}
.flag-32.flag-be {background-position: -128px -32px}
.flag-32.flag-bf {background-position: -160px -32px}
.flag-32.flag-bg {background-position: -192px -32px}
.flag-32.flag-bh {background-position: -224px -32px}
.flag-32.flag-bi {background-position: -256px -32px}
.flag-32.flag-bj {background-position: -288px -32px}
.flag-32.flag-bm {background-position: -320px -32px}
.flag-32.flag-bn {background-position: -352px -32px}
.flag-32.flag-bo {background-position: -384px -32px}
.flag-32.flag-br {background-position: -416px -32px}
.flag-32.flag-bs {background-position: -448px -32px}
.flag-32.flag-bt {background-position: 0 -64px}
.flag-32.flag-bw {background-position: -32px -64px}
.flag-32.flag-by {background-position: -64px -64px}
.flag-32.flag-bz {background-position: -96px -64px}
.flag-32.flag-ca {background-position: -128px -64px}
.flag-32.flag-cd {background-position: -160px -64px}
.flag-32.flag-cf {background-position: -192px -64px}
.flag-32.flag-cg {background-position: -224px -64px}
.flag-32.flag-ch {background-position: -256px -64px}
.flag-32.flag-ci {background-position: -288px -64px}
.flag-32.flag-ck {background-position: -320px -64px}
.flag-32.flag-cl {background-position: -352px -64px}
.flag-32.flag-cm {background-position: -384px -64px}
.flag-32.flag-cn {background-position: -416px -64px}
.flag-32.flag-co {background-position: -448px -64px}
.flag-32.flag-cr {background-position: 0 -96px}
.flag-32.flag-cu {background-position: -32px -96px}
.flag-32.flag-cv {background-position: -64px -96px}
.flag-32.flag-cy {background-position: -96px -96px}
.flag-32.flag-cz {background-position: -128px -96px}
.flag-32.flag-de {background-position: -160px -96px}
.flag-32.flag-dj {background-position: -192px -96px}
.flag-32.flag-dk {background-position: -224px -96px}
.flag-32.flag-dm {background-position: -256px -96px}
.flag-32.flag-do {background-position: -288px -96px}
.flag-32.flag-dz {background-position: -320px -96px}
.flag-32.flag-ec {background-position: -352px -96px}
.flag-32.flag-ee {background-position: -384px -96px}
.flag-32.flag-eg {background-position: -416px -96px}
.flag-32.flag-eh {background-position: -448px -96px}
.flag-32.flag-er {background-position: 0 -128px}
.flag-32.flag-es {background-position: -32px -128px}
.flag-32.flag-et {background-position: -64px -128px}
.flag-32.flag-fi {background-position: -96px -128px}
.flag-32.flag-fj {background-position: -128px -128px}
.flag-32.flag-fm {background-position: -160px -128px}
.flag-32.flag-fo {background-position: -192px -128px}
.flag-32.flag-fr {background-position: -224px -128px}
.flag-32.flag-ga {background-position: -256px -128px}
.flag-32.flag-gb {background-position: -288px -128px}
.flag-32.flag-gd {background-position: -320px -128px}
.flag-32.flag-ge {background-position: -352px -128px}
.flag-32.flag-gg {background-position: -384px -128px}
.flag-32.flag-gh {background-position: -416px -128px}
.flag-32.flag-gi {background-position: -448px -128px}
.flag-32.flag-gl {background-position: 0 -160px}
.flag-32.flag-gm {background-position: -32px -160px}
.flag-32.flag-gn {background-position: -64px -160px}
.flag-32.flag-gp {background-position: -96px -160px}
.flag-32.flag-gq {background-position: -128px -160px}
.flag-32.flag-gr {background-position: -160px -160px}
.flag-32.flag-gt {background-position: -192px -160px}
.flag-32.flag-gu {background-position: -224px -160px}
.flag-32.flag-gw {background-position: -256px -160px}
.flag-32.flag-gy {background-position: -288px -160px}
.flag-32.flag-hk {background-position: -320px -160px}
.flag-32.flag-hn {background-position: -352px -160px}
.flag-32.flag-hr {background-position: -384px -160px}
.flag-32.flag-ht {background-position: -416px -160px}
.flag-32.flag-hu {background-position: -448px -160px}
.flag-32.flag-id {background-position: 0 -192px}
.flag-32.flag-ie {background-position: -32px -192px}
.flag-32.flag-il {background-position: -64px -192px}
.flag-32.flag-im {background-position: -96px -192px}
.flag-32.flag-in {background-position: -128px -192px}
.flag-32.flag-iq {background-position: -160px -192px}
.flag-32.flag-ir {background-position: -192px -192px}
.flag-32.flag-is {background-position: -224px -192px}
.flag-32.flag-it {background-position: -256px -192px}
.flag-32.flag-je {background-position: -288px -192px}
.flag-32.flag-jm {background-position: -320px -192px}
.flag-32.flag-jo {background-position: -352px -192px}
.flag-32.flag-jp {background-position: -384px -192px}
.flag-32.flag-ke {background-position: -416px -192px}
.flag-32.flag-kg {background-position: -448px -192px}
.flag-32.flag-kh {background-position: 0 -224px}
.flag-32.flag-ki {background-position: -32px -224px}
.flag-32.flag-km {background-position: -64px -224px}
.flag-32.flag-kn {background-position: -96px -224px}
.flag-32.flag-kp {background-position: -128px -224px}
.flag-32.flag-kr {background-position: -160px -224px}
.flag-32.flag-kw {background-position: -192px -224px}
.flag-32.flag-ky {background-position: -224px -224px}
.flag-32.flag-kz {background-position: -256px -224px}
.flag-32.flag-la {background-position: -288px -224px}
.flag-32.flag-lb {background-position: -320px -224px}
.flag-32.flag-lc {background-position: -352px -224px}
.flag-32.flag-li {background-position: -384px -224px}
.flag-32.flag-lk {background-position: -416px -224px}
.flag-32.flag-lr {background-position: -448px -224px}
.flag-32.flag-ls {background-position: 0 -256px}
.flag-32.flag-lt {background-position: -32px -256px}
.flag-32.flag-lu {background-position: -64px -256px}
.flag-32.flag-lv {background-position: -96px -256px}
.flag-32.flag-ly {background-position: -128px -256px}
.flag-32.flag-ma {background-position: -160px -256px}
.flag-32.flag-mc {background-position: -192px -256px}
.flag-32.flag-md {background-position: -224px -256px}
.flag-32.flag-me {background-position: -256px -256px}
.flag-32.flag-mg {background-position: -288px -256px}
.flag-32.flag-mh {background-position: -320px -256px}
.flag-32.flag-mk {background-position: -352px -256px}
.flag-32.flag-ml {background-position: -384px -256px}
.flag-32.flag-mm {background-position: -416px -256px}
.flag-32.flag-mn {background-position: -448px -256px}
.flag-32.flag-mo {background-position: 0 -288px}
.flag-32.flag-mq {background-position: -32px -288px}
.flag-32.flag-mr {background-position: -64px -288px}
.flag-32.flag-ms {background-position: -96px -288px}
.flag-32.flag-mt {background-position: -128px -288px}
.flag-32.flag-mu {background-position: -160px -288px}
.flag-32.flag-mv {background-position: -192px -288px}
.flag-32.flag-mw {background-position: -224px -288px}
.flag-32.flag-mx {background-position: -256px -288px}
.flag-32.flag-my {background-position: -288px -288px}
.flag-32.flag-mz {background-position: -320px -288px}
.flag-32.flag-na {background-position: -352px -288px}
.flag-32.flag-nc {background-position: -384px -288px}
.flag-32.flag-ne {background-position: -416px -288px}
.flag-32.flag-ng {background-position: -448px -288px}
.flag-32.flag-ni {background-position: 0 -320px}
.flag-32.flag-nl {background-position: -32px -320px}
.flag-32.flag-no {background-position: -64px -320px}
.flag-32.flag-np {background-position: -96px -320px}
.flag-32.flag-nr {background-position: -128px -320px}
.flag-32.flag-nz {background-position: -160px -320px}
.flag-32.flag-om {background-position: -192px -320px}
.flag-32.flag-pa {background-position: -224px -320px}
.flag-32.flag-pe {background-position: -256px -320px}
.flag-32.flag-pf {background-position: -288px -320px}
.flag-32.flag-pg {background-position: -320px -320px}
.flag-32.flag-ph {background-position: -352px -320px}
.flag-32.flag-pk {background-position: -384px -320px}
.flag-32.flag-pl {background-position: -416px -320px}
.flag-32.flag-pr {background-position: -448px -320px}
.flag-32.flag-ps {background-position: 0 -352px}
.flag-32.flag-pt {background-position: -32px -352px}
.flag-32.flag-pw {background-position: -64px -352px}
.flag-32.flag-py {background-position: -96px -352px}
.flag-32.flag-qa {background-position: -128px -352px}
.flag-32.flag-re {background-position: -160px -352px}
.flag-32.flag-ro {background-position: -192px -352px}
.flag-32.flag-rs {background-position: -224px -352px}
.flag-32.flag-ru {background-position: -256px -352px}
.flag-32.flag-rw {background-position: -288px -352px}
.flag-32.flag-sa {background-position: -320px -352px}
.flag-32.flag-sb {background-position: -352px -352px}
.flag-32.flag-sc {background-position: -384px -352px}
.flag-32.flag-sd {background-position: -416px -352px}
.flag-32.flag-se {background-position: -448px -352px}
.flag-32.flag-sg {background-position: 0 -384px}
.flag-32.flag-si {background-position: -32px -384px}
.flag-32.flag-sk {background-position: -64px -384px}
.flag-32.flag-sl {background-position: -96px -384px}
.flag-32.flag-sm {background-position: -128px -384px}
.flag-32.flag-sn {background-position: -160px -384px}
.flag-32.flag-so {background-position: -192px -384px}
.flag-32.flag-sr {background-position: -224px -384px}
.flag-32.flag-st {background-position: -256px -384px}
.flag-32.flag-sv {background-position: -288px -384px}
.flag-32.flag-sy {background-position: -320px -384px}
.flag-32.flag-sz {background-position: -352px -384px}
.flag-32.flag-tc {background-position: -384px -384px}
.flag-32.flag-td {background-position: -416px -384px}
.flag-32.flag-tg {background-position: -448px -384px}
.flag-32.flag-th {background-position: 0 -416px}
.flag-32.flag-tj {background-position: -32px -416px}
.flag-32.flag-tl {background-position: -64px -416px}
.flag-32.flag-tm {background-position: -96px -416px}
.flag-32.flag-tn {background-position: -128px -416px}
.flag-32.flag-to {background-position: -160px -416px}
.flag-32.flag-tr {background-position: -192px -416px}
.flag-32.flag-tt {background-position: -224px -416px}
.flag-32.flag-tv {background-position: -256px -416px}
.flag-32.flag-tw {background-position: -288px -416px}
.flag-32.flag-tz {background-position: -320px -416px}
.flag-32.flag-ua {background-position: -352px -416px}
.flag-32.flag-ug {background-position: -384px -416px}
.flag-32.flag-us {background-position: -416px -416px}
.flag-32.flag-uy {background-position: -448px -416px}
.flag-32.flag-uz {background-position: 0 -448px}
.flag-32.flag-va {background-position: -32px -448px}
.flag-32.flag-vc {background-position: -64px -448px}
.flag-32.flag-ve {background-position: -96px -448px}
.flag-32.flag-vg {background-position: -128px -448px}
.flag-32.flag-vi {background-position: -160px -448px}
.flag-32.flag-vn {background-position: -192px -448px}
.flag-32.flag-vu {background-position: -224px -448px}
.flag-32.flag-ws {background-position: -256px -448px}
.flag-32.flag-ye {background-position: -288px -448px}
.flag-32.flag-za {background-position: -320px -448px}
.flag-32.flag-zm {background-position: -352px -448px}
.flag-32.flag-zw {background-position: -384px -448px}

.flag-32.flag-sh {background-position: -288px -128px}
.flag-32.flag-yt {background-position: -224px -128px}




/* Locales - Size : 16x16 */
.flag-16.locale-en {background-position: -208px -208px}
.flag-16.locale-fr {background-position: -112px -64px}
.flag-16.locale-es {background-position: -16px -64px}
.flag-16.locale-pt {background-position: -16px -176px}
.flag-16.locale-de {background-position: -80px -48px}
.flag-16.locale-ru {background-position: -128px -176px}
.flag-16.locale-cn {background-position: -208px -32px}
.flag-16.locale-jp {background-position: -192px -96px}
.flag-16.locale-gb {background-position: -144px -64px}

/* Locales - Size : 32x32 */
.flag-32.locale-en {background-position: -416px -416px}
.flag-32.locale-fr {background-position: -224px -128px}
.flag-32.locale-es {background-position: -32px -128px}
.flag-32.locale-pt {background-position: -32px -352px}
.flag-32.locale-de {background-position: -160px -96px}
.flag-32.locale-ru {background-position: -256px -352px}
.flag-32.locale-cn {background-position: -416px -64px}
.flag-32.locale-jp {background-position: -384px -192px}
.flag-32.locale-gb {background-position: -288px -128px}